/* 
   *  Nathan Zhu
   *  9/28/2018
   *   
   *  This is the css for personal_projects.html
 */

.project_photo{
    width: 70%;
    margin: 0 auto;
    padding: 10px;
}

.project_description{
    margin: 0 auto;
    width: 70%;
    padding: 10px;
}

/* This is for the fancy demarcating bar in between projects */
.horizontal_bar{
    border: 0;
    height: 3px;
    width: 70%;
    background-image: linear-gradient(to right, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.75), rgba(255, 255, 255, 0));

    /* Cross-browser alignment */
    text-align:center; 
    margin: 0 auto;
}